@font-face {
    font-family: 'inter';
    src: url('../fonts/Inter-Regular.ttf');
}

@font-face {
    font-family: 'bold';
    src: url('../fonts/Inter-Bold.ttf');
}

@font-face {
    font-family: 'light';
    src: url('../fonts/Inter-Light.ttf');
}

@font-face {
    font-family: 'work';
    src: url('../fonts/WorkSans-Regular.ttf');
}