@mixin flex {
    display: flex;
    flex-direction: column;
}

@mixin imageB {
    width: 329px;
}

@mixin imageA {
    width: 279px;
}

@mixin bear {
    display: flex;
    flex-direction: column;
    padding: 0 10vw;
}

@mixin button {
        background-color: black;
        color: white;
        padding: 10px;
        border: 1px solid #AAA;
        text-decoration: none;
}