@use 'variables' as variables;

@use 'mixin' as mixins;

@import "font" ;


/* Global Styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter';
    font-size: 16px;
}

h1 {
    font-size: variables.$h1size;
}

h2 {
    font-size: variables.$h2size;
}

h3 {
    font-size: variables.$h3size;
}

.button {
    @include mixins.button;
    &:hover {
        background-color: white;
        color: black;
        transition: 0.3s;
        }
    }

.image {
    position: absolute
}

/* Header */

header {
    @include mixins.flex;
    color: variables.$main-colorW;
    background-color: variables.$main-colorB;
    align-items: center;
    gap: 20vh;
    padding-top: 25vh;
    padding-bottom: 10vh;
    article {
        @include mixins.flex;
        text-align: center;
        p {
            font-size: variables.$p-header;
        }
        h4 {
            font-size: variables.$h4size;
            font-family: 'bold';
        }
        h4:nth-of-type(2) {
            color: variables.$main-colorB;
            text-shadow: 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white;
        }
    }
    aside {
        display: flex;
        justify-content: space-between;
        width: 80%;
    }
}

/* Main */

.storyWrap {
    background-color: variables.$main-colorB;
    padding-left: 10vw;
    color: variables.$main-colorW;
    padding-top: 5vh;
    padding-bottom: 15vh;
    h1 {
        width: 70%;
        margin-bottom: 15vh;
    }
    article {
        display: flex;
        justify-content: space-between;
        div p {
            font-size: variables.$p-storyWrap;
        }
        img {
            width: 30%;
        }
    }
}

.action {
    position: relative;
    height: 1800px;

    .imageB {
        @include mixins.imageB;
    }
    .imageA {
        @include mixins.imageA;
    }
    .img1 {
        right: 10vh;
        top: -10vh;
    }
    .img2 {
        left: 54px;
        top: 280px;
    }
    div {
        position: absolute;
        width: 447px;
        top: 410px;
        left: 438px;
    }
    div p {
        width: 411px;
        font-size: variables.$p-action;
        line-height: 3vh;
    }
    .img3 {
        right: 0;
        top: 665px;
    }
    .img4 {
        left: 219px;
        bottom:700px;
    }
    .img5 {
        right: 165px;
        bottom: 583px;
    }
    .img6 {
        left: 0px;
        bottom: 320px;
    }
    .shirts {
        width: 30%;
        position: absolute;
        left: 438px;
        bottom: 310px;
    }
    .img7 {
        position: absolute;
        width: 438px;
        right: 274px;
        bottom: -68px;
        z-index: -1;
    }
}

.goldenbear, .rosebear {
    @include mixins.bear;
    height: 1200px;
    background-color: variables.$main-colorB;
    color: variables.$main-colorW;
    padding-top: 170px;
    .number {
        @include mixins.number;
        .artist p:nth-of-type(2) {
        font-size: variables.$p-artist;
        }
    }
    .bears {
        background-color: variables.$main-colorB;
        position: relative;
        width: 100%;
        .img8 {
            width: 65%;
            left: 0;
            top: 15vh;
        }
        .img9 {
            width: 35%;
            right: 10vh;
            top: 35vh;
        }
    }
}
.circle {
    position: relative;
    overflow: hidden;
    height: 40vh;
    margin-bottom: 10vh;
    .rotation img {
        @include mixins.rotation;
    }
}

.rosebear {
    background-color:rgb(241, 241, 241);
    article {
        color: black;
    }
    .img10 {
        width: 65%;
        right: 0;
        top: 15vh;
    }
    .img11 {
        width: 35%;
        left: 10vh;
        top: 35vh;
    }
}

footer {
    background-color: variables.$main-colorB;
    color: variables.$main-colorW;
    height: 70vh;
    margin-top: 25vh;
    .join {
        @include mixins.bear;
        gap: 15vh;
        .crawl {
            @include mixins.flex;
            gap: 2vh;
        }
    }
}