@font-face {
  font-family: "inter";
  src: url("../fonts/Inter-Regular.ttf");
}
@font-face {
  font-family: "bold";
  src: url("../fonts/Inter-Bold.ttf");
}
@font-face {
  font-family: "light";
  src: url("../fonts/Inter-Light.ttf");
}
@font-face {
  font-family: "work";
  src: url("../fonts/WorkSans-Regular.ttf");
}
/* Global Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "inter";
  font-size: 16px;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 5.375rem;
}

h3 {
  font-size: 5.1rem;
}

.button {
  background-color: black;
  color: white;
  padding: 2vh 3.5vh;
  border: 1px solid #AAA;
  text-decoration: none;
}
.button:hover {
  background-color: white;
  color: black;
  transition: 0.3s;
}

.image {
  position: absolute;
}

/* Header */
header {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: black;
  align-items: center;
  gap: 5vh;
  padding-bottom: 10vh;
}
header span {
  width: 1px;
  height: 150px;
  background: rgba(255, 255, 255, 0.3);
}
header article {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 15vh;
}
header article p {
  font-size: 0.75rem;
}
header article h4 {
  font-size: 4rem;
  font-family: "bold";
}
header article h4:nth-of-type(2) {
  color: black;
  text-shadow: 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white;
}
header aside {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

/* Main */
.storyWrap {
  background-color: black;
  padding-left: 10vw;
  color: white;
  padding-top: 5vh;
  padding-bottom: 15vh;
}
.storyWrap h1 {
  width: 70%;
  margin-bottom: 15vh;
}
.storyWrap article {
  display: flex;
  justify-content: space-between;
}
.storyWrap article div p {
  font-size: 0.875rem;
}
.storyWrap article img {
  width: 30%;
  padding-right: 10vh;
}

.action {
  position: relative;
  height: 1800px;
}
.action .imageB {
  width: 329px;
}
.action .imageA {
  width: 279px;
}
.action .img1 {
  right: 10vh;
  top: -10vh;
}
.action .img2 {
  left: 54px;
  top: 280px;
}
.action div {
  position: absolute;
  width: 447px;
  top: 410px;
  left: 438px;
}
.action div p {
  width: 411px;
  font-size: 1rem;
  line-height: 3vh;
}
.action .img3 {
  right: 0;
  top: 665px;
}
.action .img4 {
  left: 219px;
  bottom: 700px;
}
.action .img5 {
  right: 165px;
  bottom: 583px;
}
.action .img6 {
  left: 0px;
  bottom: 320px;
}
.action .shirts {
  width: 30%;
  position: absolute;
  left: 438px;
  bottom: 310px;
}
.action .img7 {
  position: absolute;
  width: 438px;
  right: 274px;
  bottom: -68px;
  z-index: -1;
}

.goldenbear, .rosebear {
  display: flex;
  flex-direction: column;
  padding: 0 10vw;
  height: 1200px;
  background-color: black;
  color: white;
  padding-top: 170px;
}
.goldenbear .number, .rosebear .number {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 30vh;
}
.goldenbear .number .artist p, .rosebear .number .artist p {
  font-family: "bold";
  font-size: 1.8rem;
}
.goldenbear .number .artist p:nth-of-type(2), .rosebear .number .artist p:nth-of-type(2) {
  font-family: "work";
  margin-top: 2vh;
}
.goldenbear .number .artist p:nth-of-type(2), .rosebear .number .artist p:nth-of-type(2) {
  font-size: 1.15rem;
}
.goldenbear .bears, .rosebear .bears {
  background-color: black;
  position: relative;
  width: 100%;
}
.goldenbear .bears .img8, .rosebear .bears .img8 {
  width: 731px;
  transform: translateY(20%);
}
.goldenbear .bears .img9, .rosebear .bears .img9 {
  width: 366px;
  transform: translate(180%, 70%);
}

.rosebear {
  background-color: rgb(241, 241, 241);
}
.rosebear article {
  color: black;
}
.rosebear .bears {
  position: relative;
  width: 100%;
}
.rosebear .bears .img10 {
  width: 731px;
  transform: translate(60%, 15%);
}
.rosebear .bears .img11 {
  width: 366px;
  transform: translate(40%, 60%);
}

.circle {
  position: relative;
  overflow: hidden;
  height: 50vh;
  margin-bottom: 10vh;
}
.circle .rotation img {
  position: absolute;
  right: -12vw;
  top: -15vh;
  width: 35%;
  z-index: -1;
  animation: rotatetext 15s linear infinite;
}
@keyframes rotatetext {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Footer */
footer {
  background-color: black;
  color: white;
  margin-top: 25vh;
  padding-bottom: 5vh;
  position: relative;
  overflow: hidden;
}
footer .join {
  display: flex;
  flex-direction: column;
  padding: 0 10vw;
  padding-top: 10vh;
  gap: 15vh;
}
footer .join .crawl {
  width: 42%;
}
footer .join .crawl p {
  font-size: 0.8rem;
  margin-bottom: 3vh;
}
footer .join .crawl p:nth-of-type(2) {
  font-size: 1.5rem;
  line-height: 2;
  font-family: "bold";
  margin-bottom: 5vh;
}
footer .join .contact {
  display: flex;
  justify-content: space-between;
}
footer .join .contact .social img {
  width: 10%;
  margin: 0.5vh;
}
footer .join .contact .social p {
  margin-top: 2vh;
  font-size: 0.75rem;
  font-family: "light";
}
footer .join .contact .sponsor {
  text-align: right;
  padding-right: 10vh;
}
footer .join .contact .sponsor img {
  width: 25%;
}
footer .join .animation {
  background-color: white;
  transform: rotate(45deg);
  width: 75%;
  position: absolute;
  left: 35%;
  bottom: 45%;
}
footer .join .animation .banner {
  gap: 20px;
  color: black;
  animation: banner 20s linear infinite forwards;
}
@keyframes banner {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
footer .join .animation .banner p {
  font-size: 5rem;
}
footer .join .animation .banner span {
  color: white;
  text-shadow: 0 0 2px black;
  font-size: 5rem;
}

/*# sourceMappingURL=style.css.map */
